.space {
  margin-bottom: 1%;
}

.shine {
  display: inline;
  text-align: center;
  font-weight: bold;
  margin: 0.3rem;
  /* margin: 5px; */
  padding: 0.3rem;
  border-radius: 10px;
  color: aliceblue;
  background-color: rgb(29, 29, 28);
  transition: 0.5s;
}
.shine:hover {
  background-color: #e9f2fa;
  color: #050505;
  cursor: pointer;
}
